<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serialNumber" value="00cadd315edc391f10" />
    <add key="validationCertificateSerial" value="4425a764b2713fa344f19f9346be2391" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>